<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycj.healthy"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- <uses-permission android:name="android.permission.WRITE_CALL_LOG" /> -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- <uses-permission android:name="android.permission.WRITE_SMS" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 读取手机联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SpalishActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingStepGoalActivity"
            android:label="@string/title_activity_step_goal"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SettingHeartRateSetActivity"
            android:label="@string/title_activity_setting_heart_rate_set"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SettingSleepTimeSetActivity"
            android:label="@string/title_activity_setting_sleep_time_set"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SettingClockSetActivity"
            android:label="@string/title_activity_setting_clock_set"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SettingCameraAndSearchActivity"
            android:label="@string/title_activity_camera_and_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SettingAutoHeartRateActivity"
            android:label="@string/title_activity_setting_auto_heart_rate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SettingBindedDeviceActivity"
            android:label="@string/title_activity_setting_binded_device"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SettingPhoneIncomingActivity"
            android:label="@string/title_activity_setting_phone_incoming"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SettingMessageIncmingActivity"
            android:label="@string/title_activity_message_incming"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SettingRemindActivity"
            android:label="@string/title_activity_setting_remind"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SettingRemindTypeActivity"
            android:label="@string/title_activity_setting_remind_type_set"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SettingDisconnectActivity"
            android:label="@string/title_activity_setting_disconnect"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".service.LiteBlueService"
            android:enabled="true" >
        </service>
        <service
            android:name=".service.IncomingService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".ui.SettingIntroduceAppActivity"
            android:label="@string/title_activity_introduce_app"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mycj.healthy.ui.HeartRateCountActivity"
            android:label="@string/title_activity_heart_rate_count"
            android:screenOrientation="portrait" >
        </activity>

       <!--  <receiver android:name="com.mycj.healthy.CallReceiver" >
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver> -->
    </application>

</manifest>